:host {
  width: 100%;
}

main {
  border-radius: 40px;
  // max-width: 1760px;
  // margin: 0 80px;
  margin: 0 calc(8px + 3.5625vw);
  //TODO padding should go here for all pages at once.....
  background: #fff;
}

@media (max-width: 640px) {
  main {
    margin: 0;
  }

  .px-responsive {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
